{% extends "index.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/css/bio.css' %}">
<div class="bio-container" height="700px">
	<div class="photo-row row">
		<div class="bio-img-container">
			<img class="bio-img" src="{% static 'img/grace.png' %}">
		</div>
		<div class="header"></div>
		<div class="bio-img-container">
			<img class="bio-img" src="{% static 'img/florie.png' %}">
		</div>
	</div>
	<div class="name-row row">
		<h1> Grace </h1>
		<div class="header"></div>
		<h1> Florie </h1>
	</div>
	<div class="item-row row">
		<div class="item">Lavendar</div>
		<div class="header">Favourite Ice Cream Flavour</div>
		<div class="item">Wasabi</div>
	</div>
	<div class="item-row row">
		<div class="item">Ramen</div>
		<div class="header">Go-to comfort food</div>
		<div class="item">Kimbap</div>
	</div>
	<div class="item-row row">
		<div class="item">Dunno what you'd say but here's some stuff: Lorem epsum LOL am i a pro</div>
		<div class="header">Some memory thing</div>
		<div class="item">One time I poured water on her face when she was sick to get her attention.</div>
	</div>

	<div class="description">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt facilisis enim a ultricies. Nulla ac elit sed quam iaculis fermentum quis vitae velit. Nulla sit amet dolor mauris. Vestibulum dui felis, vulputate et dolor non, faucibus bibendum mi. Etiam nec lobortis ligula, at efficitur diam. Aenean sagittis eleifend ante, faucibus commodo nulla congue non. Vestibulum dapibus sit amet justo vitae vestibulum. Suspendisse potenti. Phasellus pulvinar commodo aliquet. <p>

Nulla facilisi. Suspendisse ultricies tempus congue. Pellentesque non lacus ut nibh aliquet aliquam. Phasellus in nulla massa. Fusce quis lorem nibh. Maecenas posuere purus felis, quis convallis ex vulputate non. Suspendisse quis tempor nibh. Mauris non facilisis erat. Aliquam bibendum suscipit mi, imperdiet faucibus nisi luctus id. Aenean sit amet consequat orci.
<p>
Mauris in erat molestie, congue justo non, efficitur purus. Etiam luctus ante libero, nec tristique felis ultrices eget. Mauris lacus lacus, venenatis ut quam a, aliquam vestibulum risus. Ut porta lacinia ultricies. Donec ultricies vitae mi et scelerisque. Mauris tristique justo ligula, vitae eleifend turpis bibendum eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent lacus sem, sagittis vitae dictum in, suscipit a est. Curabitur eget pellentesque ante. Nunc vulputate vehicula tincidunt. Suspendisse imperdiet interdum ex, eleifend ullamcorper est ullamcorper nec.
<p>
Donec sagittis efficitur condimentum. Aliquam maximus venenatis blandit. Integer arcu est, imperdiet non est at, cursus consectetur neque. In et condimentum lorem, non tincidunt sem. Sed imperdiet odio eget dignissim tempor. Sed accumsan et enim ut interdum. Nam sollicitudin ultricies lorem, vel fringilla est faucibus nec. Pellentesque ut justo justo. Nulla condimentum, arcu eu venenatis venenatis, turpis est malesuada ipsum, sed commodo neque massa vel sapien. Integer iaculis nibh quis tempus scelerisque.
<p>
Cras felis est, commodo et egestas sed, ullamcorper ut lacus. Phasellus ac dui non ipsum egestas porta vitae non tellus. Aenean eleifend turpis ut ex posuere viverra. Maecenas a tempor nunc. Maecenas non orci iaculis, vestibulum orci hendrerit, maximus eros. Integer sed risus sed risus bibendum porta. Donec eros felis, scelerisque id commodo et, venenatis et felis. Proin sagittis nisi erat, ultricies pretium arcu eleifend ac. Morbi elementum nibh varius est finibus elementum. Curabitur efficitur et erat ac pretium. Nam lacinia, felis non commodo mollis, magna ligula hendrerit leo, nec maximus nibh tellus sit amet enim. Vivamus convallis sodales metus, in ultricies ex feugiat sit amet.
<p>
Nullam sagittis ligula quis nunc hendrerit, quis tristique arcu venenatis. Nunc pharetra mauris a magna vulputate ultricies. Duis nec dapibus nunc. Maecenas vitae dictum nulla, vitae vehicula magna. Nulla posuere, ante id dignissim finibus, ipsum ante ornare dui, a interdum nunc neque sed quam. Fusce ut eleifend enim. Cras consequat est sed ex viverra ornare.
</div>
</div>
{% endblock %}