{% extends 'index.html' %}
{% load pipeline %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href= "{% static 'css/stylesheets/header.css' %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Slab: 400, 700|Abril+Fatface|Lato">

<div class="bio-container" height="700px">
	<div class="left-container">Florie Cai</div>
	<div class="right-container"></div>
</div>
{% endblock %}
{% load staticfiles %}

<div class="header-container">
	<h1> We're Flace! </h1>
	<div class="header">
		<ul> ABOUT </ul> 
		<ul> TRIPS </ul> 
		<ul> WHERE ARE WE NOW </ul> 
		<ul> RECOMMENDATIONS </ul>
		<ul> MEDIA </ul>
	</div>
</div>
