@import 'common_mixins';
@import 'common_variables';

body {
	margin: 0;
	background-color: $turqoise;
}

h1, .header {
	@include flex-display();
	@include justify-content(center);
}

h1 {
	font-family: 'Abril Fatface';
	font-size: 50;
	color: $turqoise;
	background-color: $yellow;
	padding: 20px 0 20px 0;
}

.header {
	font-family: 'Josefin Slab';
	font-weight: bold;
	color: $yellow;
}